.jumbotron {

background-image: url("../images/invitation.jpg");
background-repeat: no-repeat;
background-size: 100%;

}

.row marketing {
  text-align: center;
  min-width: 500px;
}
.col-lg-6 {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 {background: brown;}
.lead {background: brown;}
#text p {background: brown;}
