/*
	RESET & BASIC SETUP
*/

* {
	margin: 0; 
	padding: 0; 
}

body { 
	font-size: 62.5%; 
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background:  #FFFFFF;
	color: black; 
	padding: 20px;
}

tr { 
	vertical-align: top;
}

/*
	STRUCTURE
*/
.post { 
	width: 500px; 
}


/*
	TYPOGRAPHY
*/
p { 
	font-size: 1.3em; 
	margin: 0 0 15px 0; 
}
h1 { 
	font-family: Helvetica, sans-serif; 
	font-size: 4.0em;
	letter-spacing: -1px; 
	color: #505050; 
	}
h2 { 
	font-family: Helvetica, sans-serif; 
	font-size: 3.0em;
	letter-spacing: -1px; 
	color: #505050; 
	margin: 5% 0%;
}
							  
h3 { 
	font-family: Helvetica, sans-serif; 
	font-size: 2em;
	letter-spacing: -1px; 
	color: #505050; 
}

 h3.balanced { 
	font-family: Helvetica, sans-serif; 
	font-size: 1.5em;
	letter-spacing: -1px; 
	color: #505050; 
}

a { 
	color: #aaa; 
}

a:hover { 
	color: #ccc; 
}

pre {
	font-family: Monospace;
	font-size: 5em;
} 

